@model List<Postagem>
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Blog do Clovis</h1>
    <p>COnfira aqui as últimas notícias e novidades do mundo!!!</p>
</div>

@foreach (Postagem postagem in Model) {
    <p>@postagem.Nome</p>
}